.contact .header {
  margin: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact h1 {
  color: #2c3e50;
  font-size: 45px;
  font-weight: bold;
}

.input {
  margin: 50px auto;
}
.input label {
  color: #1abc9c;
  
}
.container .form-control {
  border: 0px;
  border-bottom: 0.5px solid grey;
  border-radius: 0px;
}
.container .form-control::placeholder {
  color: grey;
}
.container .form-control:focus {
  box-shadow: none;
  border-color: grey;
}
.container .btn {
  background-color: #1abc9c;
  color: white;
}
