footer {
  color: #fff;
  background-color: #2c3e50;
  padding: 7% 0px;
  height: 300px;
  position: relative;
  bottom: 0px;
}
footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .box {
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: start; */
}
footer h4 {
  font-size: 25px;
}
footer span {
  margin-bottom: 20px;
}

.icon {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.icon i {
  width: 15%;
  text-align: center;
  line-height: 1.8;
  border: 1px solid #fff;
  border-radius: 90px;
}
p {
  text-align: center;
}
